/* Put your CSS here */
.ember-application {
    margin: 20px;
}

#container, h2{
margin: 0 auto;
text-align: center;
position: relative;
}

div{
box-sizing: border-box;
}

#field {
border: 2px solid black;
height: 400px;
margin: 20px auto;
padding: 6px;
width: 400px;
}

.cell {
margin: 5px;
height: 86px;
width: 86px;
float: left;
}

.chip {
border: 2px solid black;
border-radius: 4px;

font: bold 20px;
height: 86px;
padding: 30px;
text-align: center;
vertical-align: middle;
width: 86px;
}

#win{
color: red;	
display: none;
font-size: 60px;
height: 100px;
margin: 0 auto;
position: absolute;
text-align: center;
top: 120px;
//left: 300px;
width: 100%;
}