<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>15 puzzle</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <script type="text/x-handlebars">
    <h2>15 puzzle</h2>
	
    {{outlet}}	
  </script>

  <script type="text/x-handlebars" id="index">
	<div id = "container">
		<div onclick = {{action "move"}} id = "field">
			{{#each model as |item|}}
        <div  class = "cell">
          {{#if item}}
  			   <div class = "chip" >{{item}}</div>
          {{/if}} 
        </div>  
			{{/each}}      
		</div>
    <div id = "win">You win!</div>
		<button {{action "newGame"}}>New Game</button>
	</div>
  </script>
  
  <script type="text/x-handlebars" id="about">
    <h3>About application</h3>
	<p>{{model}}</p>
  </script>
  

  <script src="js/libs/jquery-1.10.2.js"></script>
  <script src="js/libs/ember-template-compiler-2.0.1.js"></script>
  <script src="js/libs/ember-2.0.1.debug.js"></script>
  <script src="js/app.js"></script>
  <!-- to activate the test runner, add the "?test" query string parameter -->
  <script src="tests/runner.js"></script>
</body>
</html>
